@media screen and (orientation:portrait){
    .btn_marg{
        margin-left: auto;
    }
}
.active{
    background-color: #efeef2;
    border-radius: 2.3rem;
}
.btn_pro{
    margin-top: 1%;
    
 }

 .defile:hover{
    background-color: #efeef2;
    border-radius: 2.3rem;
 }
 .btn_produ{
    margin-top: -2%;
    margin-left: -8%;
    height: 49px;
    font-size: 16px;
    text-align: center;
 }
span svg{
    margin-bottom: 0em;
}
.img_logo{
    width: 10%;
    margin-right: 40%;
    margin-top: -1%;
}
.div_btn_prod{
    margin-left: auto;
    width: 30%; 
    display: inline-flex;
    text-align: center;
}
.hre_bien{
    text-decoration: none;
    margin-top: 3%;
}
.btn-primary {
    background-color: #3bc9a7;
    border-color: #3bc9a7;
}

.dec{
    padding: 0%;
}
#nav {
	padding: 0; margin: 0;
	text-align: center; /* centrer le texte */
}
#nav li {
	display: inline;
	list-style: none;
}
#nav a {
	display:inline-block;
    margin: 0 30px;
}

.font_url li a {
    color: black;
} 

.menu-position{
    position: absolute;
    right: 0%;
}



/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {   
    
    .menu-position{
    position: absolute;
    right: 0%;
    top: 35%;
    }
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {    
    
    .menu-position{
        position: absolute;
        right: 0%;
        top: 35%;
        }
 }