<header id="header" class="u-header u-header--abs-top-md u-header--show-hide-md"
          data-header-fix-moment="500"
          data-header-fix-effect="slide">
   

    <div class="u-header__section">
      <!-- Topbar -->
      
      <!-- End Topbar -->

      <div id="logoAndNav" class="container">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar">
          <!-- Logo -->
          <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space" href="../home/index.html" aria-label="DUNIYA">
            <img src="../../assets/svg/logos/logo.png" class="d-none d-lg-inline-block" alt="Logo">
            <img src="../../assets/svg/logos/Sans_titre.png" class="d-inline-block d-lg-none" alt="Logo">
          </a>
          <!-- End Logo -->
            <div class="container u-header__hide-content pt-2 navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space">
                <div class="d-flex align-items-center mb-0 mt-0">
                  
                  <div class="ml-auto">
                    
        
                    <!-- Links -->
                    <div class="d-xs-inline-block ml-lg-auto">
                      <ul class="list-inline affich_nom">
                        <li class="d-none d-sm-inline-block list-inline-item mr-2">
                          <a class="u-header__topbar-nav-link dec" href="/h"><span class="badge badge-success">Marché</span></a>
                        </li>
                        <!--
                           <li class="d-none d-sm-inline-block list-inline-item mr-2">
                          <a class="u-header__topbar-nav-link dec" href="/h"><span class="badge badge-success">Producteur</span></a>
                        </li>
                        <li class="list-inline-item mr-0">
                          <a class="u-header__topbar-nav-link dec mt-2" href="#">{{data_mail}}</a>
                        </li>-->
                        <li class="list-inline-item">
                          <!-- Account Sidebar Toggle Button -->
                          <a id="sidebarNavToggler" class="btn btn-xs u-btn--icon u-btn-text-secondary u-sidebar__toggler" role="button" >
                            
                          </a>
                          <div class="position-relative">
                            <a id="dropdownBasicExampleInvoker" class="u-unfold-wrapper" href="javascript:;" role="button"
                               aria-controls="dropdownBasicExample"
                               aria-haspopup="true"
                               aria-expanded="false"
                               data-unfold-event="click"
                               data-unfold-target="#dropdownBasicExample"
                               data-unfold-type="css-animation"
                               data-unfold-duration="300"
                               data-unfold-delay="300"
                               data-unfold-hide-on-scroll="true"
                               data-unfold-animation-in="slideInUp"
                               data-unfold-animation-out="fadeOut">
                               <!--<span class="fa fa-user u-btn--icon__inner font-size-14"></span>-->
                              <!-- <span class="fa fa-user u-btn--icon__inner font-size-14" (click)="logout();"></span>-->
                              <!--<div uk-icon="" class="marg_ico"><span class="fa fa-user u-btn--icon__inner font-size-14"></span></div>-->
                                <div uk-dropdown>
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <li class="uk-active"><a [routerLink]="['/profil']">Profil</a></li>
                                        <li class="uk-active"><a [routerLink]="['/update']">Mot de passe</a></li>
                                        <li class="uk-active"><a (click)="logout();" href="#">Déconnexion</a></li>
 
                                    </ul>
                                </div>
                            </a>
                          </div>
                          <!-- End Account Sidebar Toggle Button -->
                        </li>
                      </ul>
                    </div>
                    <!-- End Links -->
                  </div>
                 
                  <ul class="list-inline ml-2 mb-0">
                    
                  
                    <!-- Account Login -->
                   
                    <!-- End Account Login -->
                  </ul>
                </div>
              </div>
          
          </nav>
        <!-- End Nav -->
      </div>
    </div>
  </header>
