<app-header></app-header>




  <!-- ========== MAIN ========== -->
  <main id="content" role="main" style="background-image:url(../../assets/img/1920x1080/img28.jpg)">
    <div class="container u-space-3-top--lg mb-5">

       <!-- Title -->
       <div class="mb-7">
          <h1 class="h3 text-primary font-weight-normal mb-0">Bienvenue sur <span class="font-weight-bold">Duniya Data</span></h1>
          <p>Rechercher le marché le plus proche de vous.</p>
        </div>
        <!-- End Title -->

      <div style="
      background-color: #ffffffc7;
      border-radius: 100px;">
         <form class="js-validate mt-5">
           
            <div class="row ml-5 ">
                <!-- Input -->
                <div class="col-sm-3 col-xs-3 mt-2 ">
                  <div class="js-form-message">
                    <label class="h6 small d-block text-uppercase">
                      Département
                      <span class="text-danger">*</span>
                    </label>
    
                    <div class="js-focus-state input-group u-form">
                        <select class="custom-select" name="commune" (change)="list_commune()" [(ngModel)]="objet_market.departement">
                            <option selected *ngFor="let d of liste_departement" [ngValue]="d.departement">{{d.departement}}</option>
                          </select>
                    </div>
                    <div class="col-12">
                        <span class="small text-danger">{{warning}}</span><br/>
                        
                      </div>
                  </div>
                </div>
                <!-- End Input -->

                <!-- Input -->
                <div class="col-sm-3 mt-2">
                    <div class="js-form-message">
                      <label class="h6 small d-block text-uppercase">
                        Ville
                        <span class="text-danger">*</span>
                      </label>
      
                      <div class="js-focus-state input-group u-form">
                          <select class="custom-select" name="commune" [(ngModel)]="objet_market.ville">
                              <option selected *ngFor="let c of liste_communes" [ngValue]="c">{{c}}</option>
                            </select>
                      </div>
                    </div>
                  </div>
                  <!-- End Input -->

                  <!-- Input -->
                <div class="col-sm-3 mt-2">
                    <div class="js-form-message">
                      <label class="h6 small d-block text-uppercase">
                       Date d'animation
                        <span class="text-danger">*</span>
                      </label>
      
                      <div class="js-focus-state input-group u-form">
                        <input class="form-control u-form__input" type="date" [(ngModel)]="objet_market.date" name="name" required
                               placeholder="Date d'animation du marché"
                               aria-label="Jack Wayley"
                               data-msg="Veuillez selectionner une date."
                               data-error-class="u-has-error"
                               data-success-class="u-has-success">
                      </div>
                    </div>
                  </div>
                  <!-- End Input -->
                  <!-- Input -->
                <div class="col-sm-3 mt-5">
                    <div class="text-center ">
                        <button type="submit" (click)="search_market()"  class="btn btn-primary u-btn-primary u-btn-wide transition-3d-hover mb-4">Recherche</button>
                      </div>
                  </div>
                  <!-- End Input -->
            </div>
          </form>
      </div>
    </div>
    <div class="container ">
        <table class="table  table-hover" style="background-color:#ffffffe0; border-radius: 10px;  text-align: center">
            <thead> <!--| paginate: { itemsPerPage: 5, currentPage: p }-->
              <tr>
                <th scope="col">Période</th>
                <th scope="col">Departement</th>
                <th scope="col">Arrondissement</th>
                <th scope="col">Ville</th>
                <th scope="col">Nom</th>
                <th scope="col">Prochaine date</th>
                <th scope="col">Produits</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of search_result">
                <th scope="row">{{item.periode}} </th>
                <td>{{item.departement}}</td>
                <td>{{item.arrondissement}}</td>
                <td>{{item.commune}}</td>
                <td>{{item.name}}</td>
                <td>{{item.lastMarketDay}}</td>
                <td>{{item.name}} </td>
              </tr>
                         
            </tbody>

            <!--div class="paginate uk-text-center" >
                <pagination-controls (pageChange)="p = $event"></pagination-controls>        
            </div--> 
          </table>
    </div>
     
    </main>
    <!-- ========== END MAIN ========== -->
                
<app-footer></app-footer>