<app-header></app-header>




  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <div class="container u-space-3-top--lg mb-5">

       <!-- Title -->
       <!--div class="mb-7">         
          <button (click)="aff_tab()" >ssssssss</button>
          <button (click)="aff_maps()" >sgdrghd</button>
        </div-->
        <!-- End Title -->

      <div style="
      background-color: #eaebefc7; border-radius: 100px">
         <form class="js-validate mt-5">
           
            <div class="row ml-5 mr-5">
                <!-- Input -->
                <div class="col-sm-3 col-xs-3 mt-2 ">
                  <div class="js-form-message">
                    <label class="h6 small d-block text-uppercase">
                      Département
                      
                    </label>
    
                    <div class="js-focus-state input-group u-form">
                        <select class="custom-select" name="commune" [(ngModel)]="form_data.departement" (change)="list_commune()">
                          <option selected value="">Tous</option>
                          <option selected *ngFor="let d of liste_departement" [ngValue]="d.departement">{{d.departement}}</option>
                          </select>
                    </div>
                    <div class="col-12">
                        <span class="small text-danger">{{warning}}</span><br/>
                        
                      </div>
                  </div>
                </div>
                <!-- End Input -->

                <!-- Input -->
                <div class="col-sm-3 mt-2">
                    <div class="js-form-message">
                      <label class="h6 small d-block text-uppercase">
                        Ville
                        
                      </label>
      
                      <div class="js-focus-state input-group u-form">
                          <select class="custom-select" name="commune" [(ngModel)]="form_data.zone">
                            <option selected value="">Tous</option>
                            <option selected *ngFor="let c of liste_communes" [ngValue]="c">{{c}}</option>
                            </select>
                      </div>
                    </div>
                  </div>
                  <!-- End Input -->

                    <!-- Input -->
                <div class="col-sm-3 mt-2">
                    <div class="js-form-message">
                      <label class="h6 small d-block text-uppercase">
                        Produits
                        
                      </label>
      
                      <div class="js-focus-state input-group u-form">
                          <input type="text" class="form-control u-form__input" placeholder="Exemple : Sorgho" id="produit" name="produit" [(ngModel)]="form_data.produit">
                              
                            
                      </div>
                    </div>
                  </div>
                  <!-- End Input -->

                  <!-- Input -->  
           
                  <!-- End Input -->
                  <!-- Input -->
                <div class="col-sm-3 mt-5">
                    <div class="text-center ">
                        <button type="submit" (click)="programmes()"  class="btn btn-primary u-btn-primary u-btn-wide transition-3d-hover mb-4">Recherche</button>
                      </div>
                  </div>
                  <!-- End Input -->
            </div>
          </form>
      </div>
    </div>
    <div class="u-space-3-bottom">
    <div class="container" style="width: 70%" *ngIf="list_programmes?.length > 0 ">
        <form class="js-focus-state input-group input-group-lg u-form u-form--lg u-form--position u-form--no-brd search mb-2">
            <div class="input-group-prepend u-form__prepend">
              <span class="input-group-text u-form__text">
                <span class="fa fa-search u-form__text-inner"></span>
              </span>
            </div>
            <input type="search" class="form-control u-form__input" [(ngModel)]="search" name="search" placeholder="Filtre">
          </form>
        <table class="table  table-hover" style="background-color:#ffffffe0; border-radius: 10px;">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Date de Début</th>
                <th>Date de Fin</th>
                <th>Objectif principal</th>
                <th>Secteurs ciblés</th>
                <th>Résultats escomptés</th>



              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prog of list_programmes  | filter:search | paginate: { itemsPerPage: 7, currentPage: p }">
                <td style="width:40vh" ><small> {{ prog.programName }}  </small></td>
                <td style="width:50vh"><small> {{ prog.startDate }}  </small> </td>
                <td style="width:40vh"><small> {{ prog.endDate }}  </small> </td>
                <td style="width:40vh"><small> {{ prog.principalObjectif }}  </small> </td>
                <td style="width:40vh"><small> {{ prog.targetedSectors.join('  ') }}  </small> </td>
                <td style="width:40vh"><small> {{ prog.expectedResults }}  </small> </td>

              </tr>
                         
            </tbody>
           
          </table>
          <div class="paginate uk-text-center">
            <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>        
        </div>
    </div>
    </div>
    <div class="row justify-content-center u-space-5-top" *ngIf="loading" style="margin-top: 15vh;">
      <div id="testimonialsNavMain" class="js-slick-carousel js-slick-carousel u-slick u-content-centered-y p-4 mb-0 u-stroke-midnightblue load"
               data-infinite="true"
               data-autoplay="true"
               data-speed="5000"
               data-fade="true"
               data-nav-for="#testimonialsNavPagination">
                </div>
              </div>
     
    </main>
    <!-- ========== END MAIN ========== -->
      <div>
        <app-footer></app-footer>
      </div>          
