<app-header></app-header>

<main id="content" role="main" style="min-height:-webkit-fill-available">
 <div class="container u-space-3-top--lg mb-5">
  <div class="container position-relativez-index-2 pos_titr mb-4">
    <div class="mx-auto">
      <h1 class="h4 text-primary" style="font-size: 1.7rem;">Détails</h1>
    </div>
  </div>
</div>

<div class="container" style="padding: 0 0 15% 0%;">
    <div class="col-sm-12 col-xs-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="parent-tab" data-toggle="tab" href="#parent" role="tab" aria-controls="parent"
                  aria-selected="true">Parent</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                  aria-selected="false">Contact</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" id="postBox-tab" data-toggle="tab" href="#postBox" role="tab" aria-controls="postBox"
                  aria-selected="false">PostBox</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" id="responsibleName-tab" data-toggle="tab" href="#responsibleName" role="tab" aria-controls="responsibleName"
                  aria-selected="false">Responsible Name</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" id="seat-tab" data-toggle="tab" href="#seat" role="tab" aria-controls="seat"
                  aria-selected="false">Seat</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" id="products-tab" data-toggle="tab" href="#products" role="tab" aria-controls="products"
                  aria-selected="false">Products</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" id="mail-tab" data-toggle="tab" href="#productsmail" role="tab" aria-controls="mail"
                  aria-selected="false">E-mail</a>
              </li>
           </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active " id="parent" role="tabpanel" aria-labelledby="parent-tab">Interprofession de la filière Anacarde du Bénin (IFA-BENIN)</div>
                  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                  <div class="tab-pane fade" id="postBox" role="tabpanel" aria-labelledby="postBox-tab">...</div>
                  <div class="tab-pane fade" id="responsibleName" role="tabpanel" aria-labelledby="responsibleName-tab">...</div>
                  <div class="tab-pane fade" id="seat" role="tabpanel" aria-labelledby="seat-tab">...</div>
                  <div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="products-tab">...</div>
                  <div class="tab-pane fade" id="mail" role="tabpanel" aria-labelledby="mail-tab">...</div>
                </div>
     </div>
</div>

</main>

<div class="d-none d-sm-block">
  <app-footer></app-footer>
</div>
