<app-header></app-header>


<main id="content" role="main" style="min-height:-webkit-fill-available">
  <div class="container u-space-3-top--lg mb-5">
    <div class="container position-relativez-index-2 pos_titr mb-4">
      <div class="mx-auto">
        <h1 class="h4 text-primary" style="font-size: 1.7rem;">Détails</h1>
      </div>
    </div>
  </div>


<div class="row align-items-md-center u-space-2 d-none d-sm-block">
<div class="container" >
        <h5 class=" text-center text-primary">
          <span >VOICI QUELQUES DETAILS SUPPLEMENTAIRES</span>
        
        </h5>
      </div>

    <hr />
 
      <div class="container" >
      
        
          <table style="width:100%;">
              <tr>
              <th>Parent</th>
              <th>Contacts</th>
              <th>PostBox</th>
              <th>ResPName</th>
              <th>Seat</th>
              <th>Products</th>
              <th>E-mail</th>
              </tr>


              <tr>
              <td> Plateforme Nationale des Organisations Paysannes et de 
                Producteurs Agricoles du Bénin (PNOPPA-Bénin)</td>

              <td>20214321</td>

              <td>Porto-Novo, 01 BP 1891</td>

              <td>Mr Landry BANKOLE</td>

              <td>Sèmè-Kpodji, Djérègbé, Immeuble Mme BELLO Falilatou</td>

              <td>mais, sorgho, riz, mil</td>

              <td>geabenin@yahoo.fr, geabenin@geabenin.org</td>
              </tr>
             
            </table>
            
         
        </div>
      </div>


    </main>




<div class="text-center col-xs-12 mt-5 d-block d-sm-none fixed-bottom ">
    <button type="button" class="btn btn-primary searcher" style="margin-left: 19rem;" data-dismiss="modal"
      data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"> <i class="fas fa-search"
        style="color:#fff"></i></button>

  </div>

<div class="d-none d-sm-block">
  <app-footer></app-footer>
</div>
