<app-header></app-header>


<main id="content" role="main" style="min-height:-webkit-fill-available">
  <div class="container u-space-3-top--lg mb-5">
    <div class="container position-relativez-index-2 pos_titr mb-4">
      <div class="mx-auto">
        <h1 class="h4 text-primary" style="font-size: 1.7rem;">Détails</h1>
      </div>
    </div>
  </div>


<div class="row align-items-md-center u-space-2 d-none d-sm-block">

        <h5 class=" text-primary "   style="margin:0 0 40px 100px;">
          <span >Groupement des Exploitants Agricoles du Bénin (GEA- BENIN)</span>
        
        </h5>
      

      <div class="container" style=" background-color: #f2f2f2; padding-top: 10px;" >
      
          <div style="margin:0 0 0px 880px; ">
            
            <button style="padding:5px 25px 5px 25px;font-weight: bold;" class="btn btn-primary">   <a href="" >
                     Aller sur le site web
                  </a></button>
                </div>


        <table style="width:100%;">

          
     
         

            <tr>
            <th>Parent:</th>
            <td> Plateforme Nationale des Organisations Paysannes et de 
              Producteurs Agricoles du Bénin (PNOPPA-Bénin)</td>
            </tr>


            <tr>
              <th>Contacts:</th>
              <td>20214321</td>
              </tr>


              <tr>
                <th>CodePostal:</th>
                <td>Porto-Novo, 01 BP 1891</td>
                </tr>


                <tr>
                  <th>ResPName:</th>
                  <td>Mr Landry BANKOLE</td>
                  </tr>

                  <tr>
                    <th>Siège:</th>
                    <td>Sèmè-Kpodji, Djérègbé, Immeuble Mme BELLO Falilatou</td>
                    </tr>


                    <tr>
                      <th>Produits:</th>
                      <td>mais, sorgho, riz, mil</td>
                      </tr>

                      <tr>
                        <th>E-mail:</th>
                        <td>geabenin@yahoo.fr, geabenin@geabenin.org</td>
                        </tr>


           
          </table>
          
       
      </div>
    </div>


            
    


    </main>




<div class="text-center col-xs-12 mt-5 d-block d-sm-none fixed-bottom ">
    <button type="button" class="btn btn-primary searcher" style="margin-left: 19rem;" data-dismiss="modal"
      data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"> <i class="fas fa-search"
        style="color:#fff"></i></button>

  </div>

<div class="d-none d-sm-block">
  <app-footer></app-footer>
</div>
