.search{
    /*width: 35%;*/
    background-color: gainsboro;
    height: 40px;
}
.search{
    /*width: 35%;*/
    background-color: gainsboro;
    height: 40px;
}
.sectors{
    margin-bottom:12px;
}
.fa-phone{
    color: #c36a97;
}
.fa-envelope{
    color: #c36a97;
}

.w-70{
    width: 70%;
}
.email{
    font-size: 17px;
    margin-left: 12px;
}
.phone{
    margin-left:12px;
}

.shadow-smd{
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
    margin-left: 11px;
    max-width: 32.33333%;
}
.lieu{
    float: right;
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {   
    .shadow-smd{
       
        max-width: 100%;
    }
	}